
<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="img/akri.JPG" alt="rijalulakhri" class="img-thumbnal rounded-circle" width="200" height="200">
            <h1 class="display-4">Rijalul Akhri</h1>
            <p class="lead">Student | Web Developer</p>
        </div>
    </div>
</div>